h1{
    color: #f0f0f0;
    text-align: center;
    font-size: 60px;
}
h3{
    color: #bfbfbf;
    text-align: center;
}
h4{
    color: #bfbfbf;
    text-align: center;
}
body{
    background-color: black;
}
a{
    color: aqua;
    text-align: center;
}